@use "../../abstract"as *;

.skills {
    position: relative;
    padding: 30px 0;

    &__block1 {
        position: relative;

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        >div {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 150px;
            padding-bottom: 150px;
        }

        &__title {
            margin-bottom: 100px;
        }

        &__cards {
            display: flex;
            gap: 50px;

            @include xl {
                flex-direction: column;
            }
        }

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 15rem;
            width: 12rem;
            background-color: rgba($text-color, 0.9);
            box-shadow: 1px 1px 5px $text-color;
            color: $background;
            position: relative;
            overflow: hidden;

            @include xl {
                width: 20rem;
            }

            @include sm {
                width: 15rem;
                height: 13rem;
            }

            >span {
                font-size: $title-size;
                color: $background;
            }
        }

    }
}