@use "../abstract"as *;

.navbar {
    background-color: $background;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 1px 1px 8px black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;

    @include xl() {
        padding-left: 50px;
        padding-right: 50px;
    }

    @include sm {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__list2 {
            display: flex;
            gap: 50px;
        }

        &__list2 li {
            font-size: $text-size;

            @include lg() {
                font-size: $little-title-mobile;
            }
        }

        &__list1 {
            display: flex;
        }
    }

    &__categories {
        display: flex;
        font-size: $text-size;
        list-style: none;
    }

    &__categories:hover {
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        color: $text-color;
    }

    &__icon {
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }

    ul>div.navbar__lists__list2 {
        @include lg() {
            position: fixed;
            background: $background;
            height: 120vh;
            width: 16rem;
            top: 0;
            right: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 8px black;
            transform: translateX(18rem);
            transition: .3s;

            &--open {
                transform: translateX(0);
            }
        }
    }

    &__burger-button {
        display: none;
        background: none;
        border: none;
        width: 3rem;
        height: 3rem;
        position: relative;
        transition: .3s;

        @include lg() {
            display: block;
        }

        div {
            width: 100%;
            height: .3rem;
            background: $text-color;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: .3s;
        }

        >div {

            .navbar__burger-button__top {
                top: auto;
                bottom: 200%;
            }

            .navbar__burger-button__bottom {
                top: 300%;
            }
        }

        &--open {

            >div {
                transform: translateY(-50%) rotate(45deg);

                .navbar__burger-button__top {
                    top: auto;
                    bottom: 0;
                    transform: translateY(0) rotate(90deg);
                }

                .navbar__burger-button__bottom {
                    top: 0;
                    transform: translateY(0);
                }
            }
        }
    }
}