@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

/*colors*/

$background: #FBF7EC;
$text-color: #202329;

/*polices*/

$title-font: "GFS Didot", serif;

/*size*/
/*mobile*/
$text-size-mobile: 16px;
$title-size-mobile: 36px;
$little-title-mobile: 25px;

/*desktop*/
$title-size: 48px;
$little-title-pc: 36px;
$text-size: 20px;
$legend-size: 12px;

/*style*/
$border-radius: 12px;

