@use "../../abstract"as *;

.columnGallery {
    padding: 4vw 6.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img1{
        width: 87vw;
        margin-bottom: 60px;
    }
    &__img2{
        width: 87vw;
        padding-bottom: 5vh;
    }
}

