@use "../../abstract" as *;

.gallery2 {
    width: 100%;
    padding: 4vw 5vw;
    padding-top: 0px;

    &__blockimg1,
    &__blockimg2 {
        display: flex;
        width: 100%;
        align-items: stretch;
        justify-content: center;
        gap: 5%;

        @include md {
            flex-direction: column-reverse;
            padding: 8vw 0vw;
            gap: 40px;
        }

        > img {
            flex: 1 1 0;
            min-width: 0;
            max-width: 100%;
            height: auto;
            display: block;
            object-fit: cover;

            @include md {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    &__blockimg1 {
        padding: 4vw 2vw;
        padding-bottom: 0px;

        &__img1,
        &__img2 {
            flex: 1 1 0;
        }
    }

    &__blockimg2 {
        padding: 4vw 2vw;

        &__img3,
        &__img4 {
            flex: 1 1 0;
        }
    }

    &__blockimg3 {
        &__img5 {
            width: 100%;
            display: block;
            margin-bottom: 5%;
        }
    }

    &__blockimg4 {
        &__img6 {
            width: 100%;
            display: block;
        }
    }
}
