@use "../../abstract"as *;

.gallery {
  width: 100%;
  padding: 4vw 6.5vw;

  &__blockimg1__img1 {
    width: 100%;
    height: auto;
    display: block;
  }

  &__blockimg2 {
    width: 100%;
    padding: 5vw 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

    @include md {
      flex-direction: column;
      padding: 8vw 0vw;
      gap: 40px;
    }

    &__img2 {
      width: 47.5%;
      height: auto;
      margin-left: 0;

      @include sm {
        width: 100%;
        height: 90%;
      }
    }

    &__img3 {
      width: 50%;
      height: 100%;

      @include sm {
        width: 100%;
        height: auto;
      }
    }
  }
  &__blockimg3__img4 {
    width: 100%;
    height: 100%;
  }
}